:root{
    /*hsl(250,50%,75%)*/
    --hue: 150; /* Set initial hue value */
    --saturation: 60%; /* Set initial saturation value staying above 50% is reccomended for dark*/
    --lightness: 20%; /* Set initial lightness value */
    --font-color: hsl(0, 0%, 80%); /* White text color */

    --primary-color: hsl(var(--hue), var(--saturation), var(--lightness));
    --primary-dark: hsl(var(--hue), var(--saturation), calc(var(--lightness) / 2));

    --background-color: hsl(var(--hue), calc(var(--saturation) / 5), calc(var(--lightness) / 10));
    --background-color-light: hsl(var(--hue), calc(var(--saturation) / 5), calc(var(--lightness) / 10 + 5%));

    --red: hsl(0, var(--saturation), var(--lightness));
    --orange: hsl(30, var(--saturation), var(--lightness));
    --yellow: hsl(60, var(--saturation), var(--lightness));
    --green: hsl(120, var(--saturation), var(--lightness));
    --blue: hsl(240, var(--saturation), var(--lightness));
    --purple: hsl(270, var(--saturation), var(--lightness));
    --pink: hsl(330, var(--saturation), var(--lightness));

    --red-dark: hsl(0, var(--saturation), calc(var(--lightness) / 3));
    --orange-dark: hsl(30, var(--saturation), calc(var(--lightness) / 3));
    --yellow-dark: hsl(60, var(--saturation), calc(var(--lightness) / 3));
    --green-dark: hsl(120, var(--saturation), calc(var(--lightness) / 3));
    --blue-dark: hsl(240, var(--saturation), calc(var(--lightness) / 3));
    --purple-dark: hsl(270, var(--saturation), calc(var(--lightness) / 3 ));
    --pink-dark: hsl(330, var(--saturation), calc(var(--lightness) / 3));


    --ternary-color: hsl(calc(var(--hue) + 120), var(--saturation), var(--lightness));
    --ternary-dark: hsl(calc(var(--hue) + 120), var(--saturation), calc(var(--lightness) / 3));
    --secondary-color: hsl(calc(var(--hue) + 180), var(--saturation), var(--lightness));
    --secondary-dark: hsl(calc(var(--hue) + 180), var(--saturation), calc(var(--lightness) / 3 ));
    --quaternary-color: hsl(calc(var(--hue) + 240), var(--saturation), var(--lightness));
    --quaternary-dark: hsl(calc(var(--hue) + 240), var(--saturation), calc(var(--lightness) / 3));

    /* Grayscales */
    --gray-0: hsl(0, 0%, 0%);
    --gray-1: hsl(0, 0%, 10%);
    --gray-2: hsl(0, 0%, 20%);
    --gray-3: hsl(0, 0%, 30%);
    --gray-4: hsl(0, 0%, 40%);
    --gray-5: hsl(0, 0%, 50%);
    --gray-6: hsl(0, 0%, 60%);
    --gray-7: hsl(0, 0%, 70%);
    --gray-8: hsl(0, 0%, 80%);
    --gray-9: hsl(0, 0%, 90%);
}

html {
    background-color: var(--background-color);
    text-align: center;
    color: var(--font-color);
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}


